.add-to-cart-btn {
    cursor: pointer;
    background-color: $secondary;
    border: none;
    padding: 0.5rem;
    color: $tertiary;
    border-radius: 5px;
    
    font-weight: 500;
  

    &:hover {
        background-color: $secondaryDark;
    }
}
.quant-button {
    display: flex;
    align-items: center;
   
    .inc-dec-btn {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $secondary;
      color: $tertiary;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: $primaryDark;
      }
    }

    p {
      width: 30px;
      height: 30px;
      display: grid;
      place-items: center;
    }
  }
  .log-in-out{
   
        cursor: pointer;
        background-color: $secondary;
        border: none;
        color: $primary;
        font-size: 1.2rem;
        margin: 0 1rem;
        transition: all 0.3s;
        &:hover{
            opacity: 0.5;
        }
  
  }